.text-button {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    padding: 15px;
    font-size: 25px;
}

.bar>.user {
    position: absolute;
    right: 20px;
    /* top: 10px; */
    color: #fff;
    font-size: 25px;
}

.bar {
    display: flex;
    align-items: center;
    background-color: black;
}

.text-button:hover {
    background-color: #fff;
    color: black;
}

/* header */
body {
    margin: 0;
    background-color: beige;
}

.gioithieu {
    text-align: center;
    font-size: 25px;
}

.slides {
    width: 100%;
    height: 500px;
}

/* slide  */
.gt {
    text-align: center;
    font-size: 30px;
    color: blue;
}

.ynghia {
    text-align: center;
    font-size: 30px;
    color: goldenrod;
}

.lichsu {
    text-align: center;
    font-size: 30px;
    color: aqua;
}

.khung_gt {
    text-align: justify;
    width: 1000px;
}

.khung_gt>img {
    width: 100%;
}



.ynghia {
    text-align: center;
    width: 1000px;
}

.ynghia>img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

/* .lichsu {
    text-align: center;
    width: 900px;
} */

.lichsu>img {
    width: 100%;
}

.nguongoc {
    text-align: center;
    width: 1000px;
    font-size: 35px;
    color: rgb(255, 0, 162);
}

.nguongoc>img {
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
}

.image>.img_container {
    width: 1000px;
}

.image>img {
    object-fit: cover;
    width: 100%;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

.footer_container {
    padding: 20px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_item>a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 29px;
    margin-right: 200px;
    color: #fff;
}

/* Scroll */

.Scroll {
    /* z-index: 999; */
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    cursor: pointer;
    background-color: #fff;
    padding: 15px;
    border-radius: 50px;
}
